.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(grey, 0.2);

  .form {
    width: 50%;
    min-height: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    header {
      text-align: center;
    }
    .input-field {
      font-size: 16px;
      width: 100%;
      display: block;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-bottom:10px;
      .is-invalid{
        border-color: red;
      }
      &:focus {
        outline: transparent;
        border-color: grey;
      }
    }

    .invalid-feedback {
      color: red;
      margin: 10px 0;
    }
    .closeButton {
      position: absolute;
      right:10px;
      top: 10px;
      padding: 10px 15px;
      border-radius: 10px;
      color: grey;
      border:0;
      cursor: pointer;
      &:focus {
        outline: transparent;
        background-color: rgba(grey, .3);
      }
    }
    .submitButton {
      margin: 0 auto;
      border:0;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 15px;
      color: grey;
      &:focus {
        outline: transparent;
        background-color: rgba(grey, .3);
      }
      &:disabled {
        cursor: not-allowed;
        background: #c6cbd4;
      }
    }
  }
}
