.App {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  main {
    overflow-y: scroll;
    height: 90vh;
  }
  .App-header {
    display: flex;
   justify-content: center;
  }
  .plus {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightblue;
    > i {
      color: white;
    }
    &:hover {
      background-color: #3ca2c3;
    }
    cursor: pointer;
  }
}


